server:
    port: 8088

spring:
    datasource:
        name: data_quality
        url: jdbc:mysql://localhost:3306/batis-helper?useUnicode=true&characterEncoding=utf8
        xxxxxxx: xxxxxxxx
        xxxxxxx: xxxxxxxx
        type: com.zaxxer.hikari.HikariDataSource
        driver-class-name: com.mysql.jdbc.Driver
        hikari:
            minimum-idle: 5
            maximum-pool-size: 15
            auto-commit: true
            idle-timeout: 30000
            pool-name: DatebookHikariCP
            max-lifetime: 1800000
            connection-timeout: 30000
            connection-test-query: SELECT 1

