<!-- <h2>{{hero.name|uppercase }} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name }}</div> -->

<!-- <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div> -->


  <h2>My Heroes</h2>
<ul class="heroes">

  <!-- <li *ngFor="let hero of heroes"> -->

    <!-- <li *ngFor="let hero of heroes" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li> -->

  <li *ngFor="let hero of heroes"
  [class.selected]="hero === selectedHero"
  (click)="onSelect(hero)">
  <span class="badge">{{hero.id}}</span> {{hero.name}}
</li>
</ul>

<!-- [hero]="selectedHero" 是 Angular 的属性绑定语法。
    这里通过HeroDetailComponent组件的选择器app-hero-detail把英雄详情显示到那里

    这是一种单向数据绑定。从 HeroesComponent 的 selectedHero 属性绑定到目标元素的 hero 属性，
    并映射到了 HeroDetailComponent 的 hero 属性。
-->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>