<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <!--导入属性配置 -->
    <properties resource="db.properties"></properties>
    <context id="MysqlTables" targetRuntime="MyBatis3">
        <!-- 生成一对一配置 -->
        <plugin type="cc.bandaotixi.plugins.OneToOnePlugin"></plugin>
        <!-- 生成一对多配置 -->
        <plugin type="cc.bandaotixi.plugins.OneToManyPlugin"></plugin>
<!--        批量插入和批量更新-->
        <plugin type="cc.bandaotixi.plugins.BatchInsertPlugin"></plugin>
        <plugin type="cc.bandaotixi.plugins.BatchUpdatePlugin"></plugin>

        <commentGenerator type="cc.bandaotixi.plugins.BDTCommentGenerator">
            <property name="javaFileEncoding" value="UTF-8"/>
            <property name="suppressDate" value="true"/>
            <property name="suppressAllComments" value="false" />
        </commentGenerator>

<!--        <commentGenerator>
            <property name="suppressDate" value="true"/>
            &lt;!&ndash; 是否去除自动生成的注释 true：是 ： false:否 &ndash;&gt;
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>-->
        <!--数据库链接地址账号密码-->
        <jdbcConnection driverClass="${jdbc.driverClass}"
                        connectionURL="${jdbc.connectionURL}"
                        userId="${jdbc.userId}"
                        password="${jdbc.password}">
        </jdbcConnection>
        <!--数据库类型和java类型的控制转换-->
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <!--生成Model类存放位置-->
        <javaModelGenerator targetPackage="com.cxf.model" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!--生成映射文件存放位置-->
        <sqlMapGenerator targetPackage="com.cxf.mapper" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!--生成Dao类存放位置-->
        <!-- 客户端代码，生成易于使用的针对Model对象和XML配置文件 的代码
                type="ANNOTATEDMAPPER",生成Java Model 和基于注解的Mapper对象
                type="MIXEDMAPPER",生成基于注解的Java Model 和相应的Mapper对象
                type="XMLMAPPER",生成SQLMap XML文件和独立的Mapper接口
        -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.cxf.mapper" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        <!-- 指定数据库表，要生成哪些表，就写哪些表，要和数据库中对应，不能写错！ -->
        <!-- 数据表进行生成操作 schema:相当于库名; tableName:表名; domainObjectName:对应的DO -->

<!--
domainObjectName 必须填写不然会报空引用
column是当前表中字段，joinColumn是关联表的字段
-->
        <table tableName="employee" domainObjectName="Employee"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false" selectByPrimaryKeyQueryId="false">
            <!--根据数据库字段名称转成驼峰写法 -->
            <!--写法问题： oracle 数据库，字段不区分大小写，数据库中全是大写，驼峰写法：设置false 字段名称在驼峰中使用下划线"_"
            例如：file_name
                转为fileName -->
            <!--写法问题： mysql 数据库，字段区分大小写，驼峰写法：设置true时 字段名称正常写法 例如：fileName 转为fileName;
                设置false 则是filename -->
            <property name="useActualColumnNames" value="true" />
            <generatedKey column="id" sqlStatement="MySql"
                          identity="true" />
            <oneToOne mappingTable="department" column="dept_id" joinColumn="id" />
            <!-- 有对应实体的时候，把字段忽略生成 -->
            <ignoreColumn column="dept_id" />
        </table>
        <table tableName="department" domainObjectName="Department"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false" selectByPrimaryKeyQueryId="false">
<!--     注意，设置了自增的字段，插入sql语句中会省略他，但是如果你的表中这个字段不是自增的且没有默认值，将会报错 -->
<!--            <generatedKey column="id" sqlStatement="MySql"-->
<!--                          identity="true" />-->
        </table>

 </context>
</generatorConfiguration>