spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mybatis
    username: root
    password: 12345678

mybatis:
  mapper-locations: com.cxf.batishelper.mapper/*.xml
  type-aliases-package: com.cxf.batishelper.model

#database-id: oracle # 自定义配置如果不是MySQL的话  可以指定数据库
mybatis-plus:
  type-aliases-package: com.cxf.mp.domain # 指定实体类的位置
  mapper-locations: classpath:mappers/*.xml # 指定mapper文件所在的位置
    #configuration:
  #database-id: ${database-id} #指定数据库为 oracle
