spring:
  datasource:
    url: jdbc:mysql://localhost:3306/batis-helper
    username: root
    password: 12345678

mybatis:
  mapper-locations: com.cxf.batishelper.mapper/*.xml
  type-aliases-package: com.cxf.batishelper.model
